@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
}

.header {
  text-align: center;
  letter-spacing: -0.03em;
}
.header__heading {
  color: #502050;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1;
}
.header__description {
  color: #937b92;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.rating__text {
  color: #502050;
  font-size: 1.3rem;
  font-weight: 700;
}

.card__description {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: -0.06em;
}
.card__header-heading {
  font-size: 1.4rem;
}
.card__header-heading--lighter {
  color: #ee68a4;
}

@media (min-width: 850px) {
  .header__heading {
    font-size: 4.6rem;
  }
  .header__description {
    color: #937b92;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
.body {
  background-image: url(../../images/bg-pattern-top-mobile.svg), url(../../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom;
  background-size: 100% 29.9rem, 100% 50.3rem;
  width: 87.2%;
  margin: 8.2rem auto;
  max-width: 111rem;
}

@media (min-width: 850px) {
  .body {
    background-image: url(../../images/bg-pattern-top-desktop.svg), url(../../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-size: auto;
  }
}
@media (min-width: 1050px) {
  .body {
    margin: 13rem auto 10rem;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__heading {
  max-width: 42.5rem;
}
.header__description {
  margin-top: 2.3rem;
  max-width: 42.5rem;
}
.header__rating {
  margin: 4rem 0 4.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1050px) {
  .header {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
  }
  .header__rating {
    width: 54rem;
    margin: 0;
  }
}
.rating {
  background-color: #f7f2f7;
  border-radius: 0.8rem;
  margin-bottom: 1.4rem;
  padding: 1.6rem;
  width: 100%;
  max-width: 44.5rem;
}
.rating__container {
  letter-spacing: 0.25em;
}
.rating:last-child {
  margin-bottom: 0;
}

@media (min-width: 500px) {
  .rating {
    display: flex;
    padding: 1.6rem 3rem;
  }
  .rating:first-child {
    align-self: flex-start;
  }
  .rating:last-child {
    align-self: flex-end;
  }
  .rating__text {
    margin-left: 3rem;
  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.card {
  color: white;
  background-color: #502050;
  margin-bottom: 1.6rem;
  border-radius: 0.8rem;
  padding: 3.6rem 3.2rem;
  width: 100%;
  max-width: 35rem;
}
.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 2.7rem;
}
.card__header-container {
  line-height: 1.333;
  margin-left: 2.2rem;
}
.card__header-image {
  width: 4rem;
  height: 100%;
  border-radius: 50%;
}

@media (min-width: 500px) {
  .card:first-child {
    align-self: flex-start;
  }
  .card:last-child {
    align-self: flex-end;
  }
}
@media (min-width: 850px) {
  .main {
    flex-direction: row;
    justify-content: center;
  }

  .card:first-child {
    margin-right: 3rem;
  }
  .card:last-child {
    align-self: flex-end;
    margin-left: 3rem;
  }
}
@media (min-width: 1275px) {
  .main {
    height: 26.5rem;
  }

  .card {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
