.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    max-width: 42.5rem;
  }

  &__description {
    margin-top: 2.3rem;
    max-width: 42.5rem;
  }

  &__rating {
    margin: 4rem 0 4.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include screen-l {
  .header {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;

    &__rating {
      width: 54rem;
      margin: 0;
    }
  }
}
