.body {
  background-image: url(../../images/bg-pattern-top-mobile.svg),
    url(../../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom;
  background-size: 100% 29.9rem, 100% 50.3rem;

  width: 87.2%;
  margin: 8.2rem auto;
  max-width: 111rem;
}

@include screen-m {
  .body {
    background-image: url(../../images/bg-pattern-top-desktop.svg),
      url(../../images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-size: auto;
  }
}

@include screen-l {
  .body {
    margin: 13rem auto 10rem;
  }
}
